* {
  margin: 8px;
}

body {
  background: #ffffff;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #ffffff;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
}

button {
  display: block;
  background: #ffffff;
  border: 1px solid rgb(238, 238, 238);
}